* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.nav {
    height: 5rem;
    background: #222;
    padding: 1rem 0;
}

.nav-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4)),
        url("./salo3.jpg") center/cover;
    min-height: calc(100vh - 5rem);
}

.hero-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 5rem 0;
    color: #fff;
}

.hero-center h1 {
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}

.hero-btn {
    background: transparent;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    color: #fff;
    border-color: #fff;
    letter-spacing: 2px;
}

.hero-center p {
    max-width: 35em;
    margin-bottom: 1.5rem;
}